.signupPage {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(  blue, pink);
}
.input {
overflow: hidden;
}
.signBtn {
    width: 5rem;
        border: 1px solid gray;
        border-radius: 50px;
        cursor: pointer;
        padding: .2rem;
}
.forgotBtn{
    border: none;
    background:none;
    color: rgb(0, 76, 255);
}
@media (width<=1000px) {
    .signupPage {
        height: 300px;
        width: 300px;
    }
}